.contact-form{
    background-image: url(../assets/images/undefined110.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 480px;
    color: #fff;
    padding: 60px;
}


@media only screen and (max-width:768px) {

    .contact-form{
        height: 660px;   
    }
}