
/*------search-----------*/
.search {
  padding: 20px 0;
}
.search img {
width: 130px;
height: 44px;
flex-shrink: 0;
}

.search-box {
  width: 80%;
  border: 2px solid rgba(12, 12, 253, 0.775);
}
.search-box i {
  width: 5%;
  text-align: center;
  font-size: 20px;
  opacity: 0.5;
  padding: 15px 20px;
  font-size: 17px;
}
.search-box input {
  width: 80%;
  padding: 10px;
}
::placeholder {
  font-size: 15px;
}
.search-box span {
  width: 20%;
  opacity: 0.5;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.search .cart span {
  position: absolute;
  top: -10px;
  right: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: #e94560;
  font-size: 12px;
  color: #fff;
}

/*------search-----------*/

.catgrories {
  background-color: #f6f9fc;
  padding: 0px 30px;
  border-radius: 5px;
  height: 6vh;
  margin-top: 5px;
}
.catgrories span {
  margin-right: 20px;
  font-size: 30px;
  margin-top: 10px;
}
.catgrories h4 {
  font-weight: 500;
  margin-top: 12px;
}
.catgrories h4 i {
  margin-left: 10px;
}

header {
  height: 8vh;
 
}

header ul li {
margin-right: 30px;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 17px;
}
header ul li a {
  transition: 0.5s;
  font-size: 15px;
  font-weight: 400;
}

header .flag{
width: 22px;
height: 16px;
}



/* Mobile Responsive */

@media screen and (max-width:768px) {
    
  .search-box {
    margin-top: 40px;
    height: 52px;
  
  }
  .search-box span{
    visibility: hidden;
  }

  .search-box i{
   margin-bottom: 2px;
  }

  .top-nav{
    position: absolute;
    left: 180px;
    top: 10px;
  }

  .shipment{
    position: absolute;
    visibility: hidden;
  }


}
